@import "buttons";
$modalHeader-bg-color: #2e79f1;
$modalHeader-color: #fff;
$modalBody-bg-color: #f8f9fa;
$modalBody-color: #62929E;
$modalFooter-bg-color: #f8f9fa;
$modalFooter-color: #111;
$small-color: #7f7f7f;

.content {
  padding: 0;
}

.modal-header {
  background-color: $modalHeader-bg-color;
  color: $modalHeader-color;
  .modal-title {
    margin-left: 43%;
  }
}

.modal-body {
  background-color: $modalBody-bg-color;
}

.modal-footer {
  background-color: $modalFooter-bg-color;
  color: $modalFooter-color;
  h5 {
    margin-right: 18%;
  }
}

.carousel-item {
  .img-fluid {
    width:100%;
    height:100%;
  }
}

#aboutUs, #ourSolution, #different {
  margin: 4% 0 4% 0;
  text-align: center;
  padding: 0 5% 0 5%;
  h2 {
    margin-top: 0;
    font-weight: bold;
    small {
      color: $small-color;
    }
  }
}

#ourUsers {
  margin: 2.5% 0 5% 0;
  h2 {
    font-weight: bold;
    margin-bottom: 1%;
  }
  p {
    font-size: 1.2em;
    color: $small-color;
  }
}

#myFooter {
  padding-left: 10%;
  padding-right: 10%;
  a {
    color: $small-color;
  }
  p {
    color: $small-color;
  }
}

@media only screen and (max-width: 320px) {
  #ourUsers {
    div {
      margin-top: 10%;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  #ourUsers {
    div {
      margin-top: 10%;
    }
  }
}
