$small-color: #7f7f7f;

.content {
  padding: 0;
}

.carousel-item {
  .img-fluid {
    width:100%;
    height:100%;
  }
}

#aboutUs, #ourSolution, #different {
  margin: 4% 0 4% 0;
  text-align: center;
  padding: 0 5% 0 5%;
  h2 {
    margin-top: 0;
    font-weight: bold;
    small {
      color: $small-color;
    }
  }
}

#ourUsers {
  margin: 2.5% 0 5% 0;
  h2 {
    font-weight: bold;
    margin-bottom: 1%;
  }
  p {
    font-size: 1.2em;
    color: $small-color;
  }
}

@media only screen and (max-width: 320px) {
  #ourUsers {
    div {
      margin-top: 10%;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  #ourUsers {
    div {
      margin-top: 10%;
    }
  }
}
