
<div class="container-fluid content">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid" src="../assets/img/one.png" alt="First"/>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="../assets/img/two.png" alt="Second"/>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="../assets/img/three.png" alt="Third"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="aboutUs" class="row">
      <div class="col-sm-12">
        <h2>About Us<br />
          <small>
            We want you to be able to share your trips and experiences in
            different places, cities and countries through photos, so that's
            why we help you and your friends tell stories in any location of
            the world.
          </small>
        </h2>
        <img class="img-fluid rounded" src="../assets/img/us.png" alt="AboutUs" />
      </div>
    </div>
    <hr />
    <div id="ourSolution" class="row">
      <div class="col-sm-6">
        <h2>Our Solution<br />
          <small>
            PhotoMap allows you to upload albums and organize them in a map.
            You can share the album you created in social media and with oth
            er people in the app. When you add a location, you and your frien
            ds will know where the photos were taken, adding a whole context.
          </small>
        </h2>
      </div>
      <div class="col-sm-6">
        <img class="img-fluid rounded" src="../assets/img/third.png" alt="solution" />
      </div>
    </div>
    <hr />
    <div id="different" class="row">
      <div class="col-sm-12">
        <h2>What makes us different <br />
          <small>
            We provide you with a different and innovative way of reliving
            your greatest memories in different places and also with informa
            tion about the place you visted with artificial intelligence.
          </small>
        </h2>
        <img class="img-fluid rounded" src="../assets/img/other.png" alt="different"/>
      </div>
    </div>
    <hr />
    <div id="ourUsers" class="text-center row">
      <div class="col-12">
        <h2>Our users</h2>
      </div>
      <div class="col-md-4 col-12">
        <h3>Content Creators</h3>
        <p>
          They can upload, share and see the albums with geographic location
          in an atractive, organized way so that they don't waste time looking
          them up.
        </p>
        <img class="img-fluid img-thumbnail" src="../assets/img/cc.png" alt="creators" />
      </div>
      <div class="col-md-4 col-12">
        <h3>Collaborator</h3>
        <p>
          The Collaborator then may add photos to those albums in which he has
          the access to do so. You can be both the Creator and the Collaborator
          of your friends' albums!
        </p>
        <img class="img-fluid img-thumbnail" src="../assets/img/collab.png" alt="collaborator" />
      </div>
      <div class="col-md-4 col-12">
        <h3>Visualizer</h3>
        <p>
          Any person who has yet to sign in, but has clicked in a friends'
          album can see it. Then is invited to join the experience and share
          his own memories here!
        </p>
        <img class="img-fluid img-thumbnail" src="../assets/img/visua.png" alt="vis" />
      </div>
    </div>
  </div>

</div>
