body #container #createAlbumForm {
  text-align: center; }
body #container .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  /* dont show x overflow */
  transition: 0.5s;
  /* adds transition effect */
  padding-top: 2%; }
  body #container .sidenav #imgContainer {
    height: 100px;
    margin-top: 5%;
    overflow: auto;
    /* controls images that overflow */
    overflow-x: hidden;
    /* dont show x overflow */
    /*Controls height from side nav*/ }
    @media screen and (min-height: 500px) {
      body #container .sidenav #imgContainer {
        height: 300px; } }
    @media screen and (min-height: 700px) {
      body #container .sidenav #imgContainer {
        height: 500px; } }
    @media screen and (min-height: 900px) {
      body #container .sidenav #imgContainer {
        height: 700px; } }
    @media screen and (min-height: 1200px) {
      body #container .sidenav #imgContainer {
        height: 900px; } }
    body #container .sidenav #imgContainer img {
      width: 100%;
      margin-bottom: 20px; }
  body #container .sidenav .navButton {
    width: 100%;
    margin-top: 2%; }
body #container #myModal #modalImg {
  width: 100%; }

/*# sourceMappingURL=createAlbum.css.map */
