.content {
  padding: 0; }

.modal-header {
  background-color: #2e79f1;
  color: #fff; }
  .modal-header .modal-title {
    margin-left: 43%; }

.modal-body {
  background-color: #f8f9fa; }

.modal-footer {
  background-color: #f8f9fa;
  color: #111; }
  .modal-footer h5 {
    margin-right: 18%; }

.carousel-item .img-fluid {
  width: 100%;
  height: 100%; }

#aboutUs, #ourSolution, #different {
  margin: 4% 0 4% 0;
  text-align: center;
  padding: 0 5% 0 5%; }
  #aboutUs h2, #ourSolution h2, #different h2 {
    margin-top: 0;
    font-weight: bold; }
    #aboutUs h2 small, #ourSolution h2 small, #different h2 small {
      color: #7f7f7f; }

#ourUsers {
  margin: 2.5% 0 5% 0; }
  #ourUsers h2 {
    font-weight: bold;
    margin-bottom: 1%; }
  #ourUsers p {
    font-size: 1.2em;
    color: #7f7f7f; }

#myFooter {
  padding-left: 10%;
  padding-right: 10%; }
  #myFooter a {
    color: #7f7f7f; }
  #myFooter p {
    color: #7f7f7f; }

@media only screen and (max-width: 320px) {
  #ourUsers div {
    margin-top: 10%; } }
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  #ourUsers div {
    margin-top: 10%; } }

/*# sourceMappingURL=stylesMain.css.map */
