.content {
  padding: 0; }

.modal-header {
  background-color: #2e79f1;
  color: #fff; }
  .modal-header .modal-title {
    margin-left: 43%; }

.modal-body {
  background-color: #f8f9fa; }

.modal-footer {
  background-color: #f8f9fa;
  color: #111; }
  .modal-footer h5 {
    margin-right: 18%; }

.carousel-item .img-fluid {
  width: 100%;
  height: 100%; }

#aboutUs, #ourSolution, #different {
  margin: 4% 0 4% 0;
  text-align: center;
  padding: 0 5% 0 5%; }
  #aboutUs h2, #ourSolution h2, #different h2 {
    margin-top: 0;
    font-weight: bold; }
    #aboutUs h2 small, #ourSolution h2 small, #different h2 small {
      color: #7f7f7f; }

#ourUsers {
  margin: 2.5% 0 5% 0; }
  #ourUsers h2 {
    font-weight: bold;
    margin-bottom: 1%; }
  #ourUsers p {
    font-size: 1.2em;
    color: #7f7f7f; }

#myFooter {
  padding-left: 10%;
  padding-right: 10%; }
  #myFooter a {
    color: #7f7f7f; }
  #myFooter p {
    color: #7f7f7f; }

@media only screen and (max-width: 320px) {
  #ourUsers div {
    margin-top: 10%; } }
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  #ourUsers div {
    margin-top: 10%; } }
.form-signin {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%; }
  .form-signin img, .form-signin .form-group {
    margin-bottom: 10%; }

@media only screen and (max-width: 320px) {
  .form-signin {
    margin-top: 30%;
    padding-bottom: 35%; }
    .form-signin img {
      width: 50%; } }
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .form-signin {
    margin-top: 30%;
    padding-bottom: 35%; }
    .form-signin img {
      width: 50%; } }
body #container #createAlbumForm {
  text-align: center; }
body #container .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  /* dont show x overflow */
  transition: 0.5s;
  /* adds transition effect */
  padding-top: 2%; }
  body #container .sidenav #imgContainer {
    height: 100px;
    margin-top: 5%;
    overflow: auto;
    /* controls images that overflow */
    overflow-x: hidden;
    /* dont show x overflow */
    /*Controls height from side nav*/ }
    @media screen and (min-height: 500px) {
      body #container .sidenav #imgContainer {
        height: 300px; } }
    @media screen and (min-height: 700px) {
      body #container .sidenav #imgContainer {
        height: 500px; } }
    @media screen and (min-height: 900px) {
      body #container .sidenav #imgContainer {
        height: 700px; } }
    @media screen and (min-height: 1200px) {
      body #container .sidenav #imgContainer {
        height: 900px; } }
    body #container .sidenav #imgContainer img {
      width: 100%;
      margin-bottom: 20px; }
  body #container .sidenav .navButton {
    width: 100%;
    margin-top: 2%; }
body #container #myModal #modalImg {
  width: 100%; }

#container .grayBG {
  background-color: #000000; }

#container header .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4000;
  background-color: #1e74ff;
  color: #1e74ff; }

#container header .main-nav-scrolled {
  background-color: rgba(0, 0, 0, 0.4); }

#container .navbar-light .navbar-nav .nav-link {
  color: #fff; }

#container .navbar-light .navbar-nav .active .nav-link {
  color: #00e0d0; }

#image-gallery .modal-footer {
  display: block; }

.thumb {
  margin-top: 15px;
  margin-bottom: 15px; }

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */ }

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
body {
  font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=styles.css.map */
