<header>
  <nav class="navbar navbar-expand-lg bg-white navbar-light text-light py-3 main-nav">
    <div class="container">
      <app-modal-signin></app-modal-signin>
      <a class="navbar-brand" href="/">
        <img src="../assets/img/logo.png" height="36" alt="Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
               <a class="nav-link text-uppercase" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-uppercase" href="#aboutUs">About Us</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-uppercase" href="#ourSolution">Our Solution</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-uppercase" href="#different">What makes us different</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-uppercase" href="#ourUsers">Our Users</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-uppercase" data-toggle="modal" data-target="#myModal" href="#">Sign In</a>
            </li>
         </ul>
      </div>
    </div>
  </nav>
</header>
