<div class="container">
<div id="myFooter">
    <div class="row">
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Ads</a>
      </div>
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Terms</a>
      </div>
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Privacy</a>
      </div>
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Support</a>
      </div>
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Careers</a>
      </div>
      <div class="col-4 col-md-2">
        <a data-toggle="tooltip" title="Coming Soon!" href="#">Developers</a>
      </div>
      <div class="col-12">
        <p class="footer-copyright text-center py-3">®PhotoMap 2018. All rights reserved.</p>
      </div>
    </div>
</div>
</div>
