<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center modal-body">
        <form action="/create" > <!-- bug where modal is not completely dismissed -->
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Full Name" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Password" />
          </div>
          <p>By signing up, you agree to our Terms and Data Policy.</p>
          <a href="/login"> <!-- Temp fix for bug where modal is not completely dismissed -->
            <div  class="btn btn-primary mb-2">Sign Up</div>
          </a>
          <p>____ or ____</p>
          <button (click)="signUpSubmit()" id="fb" class="btn btn-link">Login with Facebook</button>
        </form>
      </div>
      <div class="text-center modal-footer">
        <h5>
          Already have an account?
          <a href="/login">Login</a>
        </h5>
      </div>
    </div>
  </div>
</div>
