$modalHeader-bg-color: #2e79f1;
$modalHeader-color: #fff;
$modalBody-bg-color: #f8f9fa;
$modalFooter-bg-color: #f8f9fa;
$modalFooter-color: #111;
$fb-color: #3e5b96;

.modal-header {
  background-color: $modalHeader-bg-color;
  color: $modalHeader-color;
  .modal-title {
    margin-left: 43%;
  }
}

.modal-body {
  background-color: $modalBody-bg-color;
  #fb{
    color: $modalHeader-color;
    background-color: $fb-color;
  }
  p {
    color: $modalFooter-color;
  }
}

.modal-footer {
  background-color: $modalFooter-bg-color;
  color: $modalFooter-color;
  h5 {
    margin-right: 18%;
  }
}


