<html ng-app="ngMap">
<div class="container">
  <div class="container pt-4">
      <div class="row float-right">
          <button type="button" class="btn mb-3 mr-3 btn-primary" [routerLink]="['/create']" data-placement="bottom" title="Create">
              <i class="material-icons mt-2">add</i>
          </button>
          <button type="button" class="btn mb-3 mr-3 btn-primary" data-toggle="modal" data-target="#exampleModal" data-placement="bottom" title="Set sharing options">
              <i class="material-icons mt-2">share</i>
          </button>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Share Album</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Link Sharing</label>
                      </div>
                      <form class="form-inline">
                          <input class="form-control mb-4 mt-2" type="text" value="http://localhost:4200/public/ID" readonly>
                          <div class="form-group mb-2">
                              <label for="staticEmail2" class="sr-only">Email</label>
                              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Add specific users:">
                          </div>
                          <div class="form-group mx-sm-3 mb-2">
                              <label for="inputPassword2" class="sr-only">Password</label>
                              <input type="email" class="form-control" id="inputPassword2" placeholder="jorge.barrios@gmail.com">
                          </div>
                          <div>Currently shared with ralph.moran@gmail.com, brunoschalch@gmail.com</div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="shareClicked()">Share</button>
                  </div>
              </div>
          </div>
      </div>
      <div id="snackbar">Album Shared!</div>
      <div class="row">
          <div class="col-xs-6 mt-3">
            <h2>{{albumName}}</h2>

            <br>
              <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" (click)="clickedTab('map')" id="nav-profile-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="false">Map View</a>
                      <a class="nav-item nav-link" (click)="clickedTab('gallery')" id="nav-home-tab" data-toggle="tab" href="#nav-gallery" role="tab" aria-controls="nav-gallery" aria-selected="true">Gallery View</a>
                  </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-map" role="tabpanel" aria-labelledby="nav-home-tab">
                     
                     
                      <!--
                      <iframe class="d-none d-lg-block" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15054.059423197024!2d-99.18204853022459!3d19.390148349999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smx!4v1536040717709" width="1000" height="720" style="border:0" allowfullscreen></iframe>
                      <iframe class="d-none d-md-block d-lg-none" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15054.059423197024!2d-99.18204853022459!3d19.390148349999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smx!4v1536040717709" width="580" height="720" style="border:0" allowfullscreen></iframe>
                      <iframe class="d-block d-md-none" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15054.059423197024!2d-99.18204853022459!3d19.390148349999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smx!4v1536040717709" width="360" height="720" style="border:0" allowfullscreen></iframe>
                        -->
                  </div>

                  <div class="" id="nav-gallery" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <crystal-gallery *ngIf="!selectedTabIsMap" [images]="photos" [config]="myConfig"></crystal-gallery>

                  </div>
              </div>
          </div>
      </div>
      <a href="#" data-toggle="tooltip" title="Anyone with the link can see this album">Link-shared</a>
  </div>
  <hr/>
</div>
