.form-signin {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%;

  img, .form-group {
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .form-signin {
    margin-top: 30%;
    padding-bottom: 35%;
    img {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .form-signin {
    margin-top: 30%;
    padding-bottom: 35%;
    img {
      width: 50%;
    }
  }
}
