
<div class="container-fluid content">
  <app-modal-signin></app-modal-signin>
  <div class="text-center">
    <form (submit)="navigateToCreateAlbum()" class="form-signin">
      <img class="img-fluid" src="../assets/img/logo.png" alt="logo"/>
      <div class="form-group">
        <input type="text" class="form-control" id="username2" placeholder="Username"/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="pwd2" placeholder="Password"/>
      </div>
      <div class="checkbox">
        <label><input type="checkbox">Remember my name</label>
      </div>
      <span><button type="submit" class="btn btn-primary">Login</button></span>
    </form>
  </div>
</div>
