<div class="container">
  <ngx-spinner
    bdOpacity = 0.5
    bdColor = "#333"
    size = "large"
    color = "#fff"
    type = "timer"
  ></ngx-spinner>
  <div id="content" class ="container pt-4">

    <div id ="createAlbumForm">
      <form  (submit)="submitClicked()">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" [formControl]="albumName" />
        </div>
        <div class="form-group">
          <textarea id ="description" class="form-control" rows="5" placeholder="Description"></textarea>
        </div>
        <label>Privacy Settings</label>
        <select class="custom-select">
          <option>Private Album</option>
          <option>Public Album</option>
        </select>
        <br /><br />
        <!--
        <button type="button" class="btn mb-3 btn-primary " (click)="openNav()">Add previously uploaded photos</button>
        -->
        <div class="mx-auto d-block">
          <label>Upload new photos</label>
          <!--
          <div class="form-group">
            <input type="file" class="form-control-file border" name="file">
          </div>
          -->
          <file-drop headertext="Drop photos here (try dragging a folder full of photos!)" (onFileDrop)="dropped($event)"
                     (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <!--  <span>Arrastrar imágenes aquí</span> -->
          </file-drop>
          <div class="upload-table">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>
              <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group">
          <label for="formControlRange">Photo Quality</label>
          <input type="range" name="qualityslider" class="form-control-range" value="0.6" min="0.0" step="0.05" max="0.7" id="formControlRange">
        </div>
        <div>
          <button type="submit" class="btn mb-3 btn-primary " data-toggle="modal" data-target="#myModal2">Submit</button>

        </div>
      </form>
    </div>
    <!--
    <div id="mySidenav" class="sidenav">
      <h2 class="modal-title">Uploaded Photos</h2>
      <div id = "imgContainer">
        <div class="row" *ngFor="let photo of albumData.album[0].photos ; let i = index ">
          <div class="col-md-4 col-sm-12 col-lg-3"> <img alt ="photo" src={{photo.url}} /></div>
          <div class="col-md-4 col-sm-12 col-lg-3"> <img alt ="photo" src={{photo.url}} /></div>
          <div class="col-md-4 col-sm-12 col-lg-3"> <img alt ="photo" src={{photo.url}} /></div>
          <div class="col-md-4 col-sm-12 col-lg-3"> <img alt ="photo" src={{photo.url}} /></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="navButton btn mb-3 btn-primary" (click)="closeNav()">Cancel</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="navButton btn mb-3 btn-primary" (click)="closeNav()">Add Photos</button>
        </div>
      </div>
    </div>
    -->
  </div>
  <hr />
</div>
